*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 40px;
}

/* navigatiemenu */
nav{
    background-color: #6489C6; 
    background-image: linear-gradient(to right, #6489C6, #DFC8FA);
    margin: 20px;
    padding: 10px;
    border: 2px solid #BFA4E8;
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex; 
    justify-content: flex-end;
    flex-grow: 1;
}

/* ruimte tussen menu items */
nav ul li{
    margin: 0px 15px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    overflow: hidden;
    
}

nav ul li a:hover{
    background-color: #6FFFE9;
    text-decoration: underline;
    color: white;
}


/* navigatieblok op pagina waarop gebruiker is */
.active{
    background-color: #6FFFE9;
    text-decoration: underline;
}

.active:hover{
    background-color: #4ED1C5;
    color: white;
    text-decoration: underline;
}

/* ruimte tussen logo en menu items */
nav aside{
    margin-right: 20px;
}


/* logo */
nav img.logo{
    width: 70px;
    height: auto;
    border: 1px solid white;
    margin: 10px;
    margin-left: 20px;
}

p{
    font-family: 'Nunito Sans';
}

/* hero titel tekst */
.hero_tekst_blauw{
    height: 300px;
    padding: 40px;
    margin: 20px;
    background-color: #6489C6;
    border: 3px solid #6FFFE9;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 3;

}

.hero_tekst_paars{
    height: 300px;
    padding: 40px;
    margin: 20px;
    background-color: #DFC8FA;
    border: 3px solid #6FFFE9;
    color: black;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 3;
}

/* titel kopjes */
.blauwe_kopje_blauwe_border{
    margin: 20px;
    padding: 20px;
    background-color: #6489C6;
    border: 2px solid #6FFFE9;
    color: white;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}

.blauwe_kopje_oranje_border{
    margin: 20px;
    padding: 20px;
    background-color: #6489C6;
    border: 2px solid #FFA629;
    color: white;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}

.paarse_kopje_blauwe_border{
    margin: 20px;
    padding: 20px;
    background-color: #DFC8FA;
    border: 2px solid #6FFFE9;
    color: black;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}

.paarse_kopje_oranje_border{
    margin: 20px;
    padding: 20px;
    background-color: #DFC8FA;
    border: 2px solid #FFA629;
    color: black;
    text-align: center;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: bold;
}


/* bodytekst */
p{
    margin: 20px;
    background-color: yellow;
    /* lettertype later wijzigen */
    font-family: 'Nunito Sans';
    font-size: 20px;
}

.content_tekst{
    font-family: 'Nunito Sans';
    font-size: 20px;
    /* ruimte tussen introductie teksten -> later wijzigen! */
    margin: 20px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 10px;
}

/* foto's */
#thuisnetwerk_foto{
    margin: 20px;
    border: 2px solid #FFA629;
}

#goedkope_router, #authenticatie_app{
    margin: 20px;
    width: 50%;
    border: 2px solid #FFA629;
}

#authenticatie_app{

}

#google_drive_logo, #dropbox_logo, #one_drive_logo, #icloud_logo{
    border: 3px solid black;
    margin-left: 45px;
    margin-top: 30px;
    width: 230px;
    height: 130px;
}


figcaption{
    font-family: 'Nunito Sans';
    margin-left: 20px;
    padding-left: 20px;
}

/* grote hero foto's */
.hero_image{
    margin: 20px;
    border: 2px solid #6FFFE9;
}

.hero_image_orange_border{
    margin: 20px;
    border: 2px solid #FFA629;
}


/* knoppen */
button{
    background-color: #FFA629;
    border-radius: 8px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito Sans';
    font-size: 20px;
    padding: 25px 40px;
    margin: 20px;

}

button a{
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans';
    font-size: 20px;
}

button:hover{
    background-color: #E59420;
}

button:hover a{
    color:white;
    text-decoration: underline;
}

article button{
    margin-left: 65px;
}

/* cloud apps */
.blauwe_kopje_cloud_app{
    background-color: #6489C6;
    border: 3px solid black;
    color: white;
    font-family: 'Lato';
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}

.paarse_kopje_cloud_app{
    background-color: #DFC8FA;
    border: 3px solid black;
    color: black;
    font-family: 'Lato';
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}

.cloud_app_blok_blauw{
    background-color: #6489C6;
    border: 3px solid black;
    margin-top: 15px;
}

.cloud_app_blok_paars{
    background-color: #DFC8FA;
    border: 3px solid black;
    margin-top: 15px;

}

.gehele_blok{
    width: 330px;
    margin-bottom: 10px;

}

.alle_blokken{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

/* specifiek google drive 1e blok */
/* .gehele_blok:nth-child(1){
    margin-right: 5px;

} */

.cloud_app_button{
    margin-left: 65px;
    margin-bottom: 40px;
    width: 200px;
}

/* table */
table{
    /* width: 100%; */
    margin: 20px;
    /* veranderen!!! */
    width: 97%;
}

th, td{
    text-align: left;
    padding: 10px;
    font-family: 'Lato'; 
}

th{
    background-color: #DFC8FA; 
    color: black;
}

tr:nth-child(even){
    background-color: #EFE1FF;
}

tr:nth-child(odd){
    background-color: #DFC8FA;
}

/* feitje */
.feitje{
    margin: 20px;
    background-color: #6489C6;
    border: 3px solid #6FFFE9;
    font-family: 'Nunito Sans';
    font-weight: bold;
    color: white;
}

.feitje h2, .paarse_feitje{
    text-align: center;
    font-family: 'Nunito Sans';
    padding-top: 50px;
}

.feitje p, .paarse_feitje p{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}

.paarse_feitje{
    margin: 20px;
    background-color: #DFC8FA;
    border: 3px solid #6FFFE9;
    font-family: 'Nunito Sans';
    font-weight: bold;
    color: black;
}




/* contactformulier */
form{
    /* max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
    border: 2px solid greenyellow;
    border-radius: 10px; */
    display: flex;
    flex-direction: column;
}

.contactformulier{
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 2;
}

input[type="text"], input[type="tel"], input[type="email"], textarea{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #6489C6;
    border-radius: 8px;
    width: 80%;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
    margin-left: 20px;
}

textarea{
    min-height: 100px;
    resize: vertical;
}

input[tyoe="submit"]{
    padding: 12px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]{
    font-size: 14px;
    padding: 10px;
}

.form_groep, .form_groep_aanhef{
    font-family: 'Nunito Sans';
    font-size: 20px;
    margin-left: 20px;
}



/* form fieldset{
    border: none;
} */

/* .form-groep{
    margin-bottom: 15px;
}  */


/* footer*/
footer{
    background-color: #6489C6;
    background-image: linear-gradient(to right, #6489C6, #DFC8FA);
    border: 3px solid #BFA4E8;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: start; */
    align-items: flex-start;

}


.pagina_informatie ul, .contact_informatie ul{
    list-style: none;
}

.pagina_informatie li, .contact_informatie li{
    margin: 8px 0px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 2;
    letter-spacing: normal;
    word-spacing: normal;
    
}

.pagina_informatie a{
    text-decoration: none;
    color: white;
}


.material-icons{
    font-size: 24px;
    color: white;
    margin-right: 30px;
}

.pagina_informatie{
    width: 40%;
    margin-left: 80px;
}

.contact_informatie{
    margin-right: 80px;
}

.pagina_informatie, .contact_informatie{
    padding: 15px;
    margin-top: 30px;
}

.contact_informatie aside img{
    width: 200px;
    margin-top: 10px;
}

.pagina_informatie .current_page, .footer_info_link{
    color: #6FFFE9;
    text-decoration: underline;
}

.pagina_informatie .current_page .material-icons{
    color: #6FFFE9;

}



.copyright{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: white;
    position: relative;
}

.copyright p{
    position: relative;
    padding-left: 15px;
}

/* lijn voor copyright */
.copyright p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 45%;
    height: 2px;
    background-color: white;
    margin-top: -1px;
}

/* lijn na copyright */
.copyright p::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 44%;
    height: 2px;
    background-color: white;
    margin-top: -1px;
}


